:host{

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.component-wrapper{

    width: 95%;
    height: 95%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projection {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

}

.projection-controls{

    display: flex;
    width: 100%;
    height: 10%;


}

.projection-scatterplot{

    width: 97%;
    height: 97%;
    
}

.projection-scatterplot-container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

    border: 2px solid #d1cfcf;
    border-radius: 5px;

}

.projection-legend{

    display: flex;
    width: 100%;
    height: 10%;

}

canvas{

    width: 100%;
    height: 100%;

}