<div class="component-wrapper">

    <div class="projection">

        <div class="projection-controls">
            <app-projection-controls 
                [projection]='this.projection' 
                (onbrushset)='this.projectionController.set_brush_mode()'>
            </app-projection-controls>
        </div>
        
        <div class="projection-scatterplot-container">
            <div class="projection-scatterplot" #projectionContainer></div>
        </div>
        
        <div class="projection-legend"></div>

    </div>

</div>