:host {
    width: 100%;
    height: 100%;
}

.component-wrapper{

    width: 100%;
    height: 100%;

}

.spectrogram-list-container{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    
}

.spectrogram-container{

    height: 100%;
    background-color: aqua;
}