<div class="component-wrapper">

    <div class="dialog-body">

        <!-- <div class="prototype-list">
            <div class="prototype-name-container" 
                *ngFor='let prototype of this.prototypeLoaderController.availablePrototypes'
                (click)=this.prototypeLoaderController.prototype_selected(prototype)>
                <mat-card>{{ prototype }}</mat-card>
            </div>
        </div> -->

        <div class="examples-list-container">
    
            <div class="example-list-title">
                <h4>Prototypes</h4>
            </div>

            <div class="example-list-body">

                <div class="scrolable-container">
                    <div class="prototype-name-container" 
                        *ngFor='let prototype of this.prototypeLoaderController.availablePrototypes'
                        (click)=this.prototypeLoaderController.prototype_selected(prototype)>
                        <mat-card>{{ prototype }}</mat-card>
                    </div>
                </div>

            </div>

        </div>

        <div class="slider-wrapper">

            <div class="slider-title">
                <h4>Query Size</h4>
            </div>

            <div class="slider-body">
                <div class="slider-container">
                    <mat-slider thumbLabel min="100" max="50000" step="10" value="100" [(ngModel)]='this.prototypeLoaderController.querySize'></mat-slider>
                </div>
            </div>
            
        </div>

        <div class="slider-wrapper">

            <div class="slider-title">
                <h4>Model Confidence</h4>
            </div>

            <div class="slider-body">
                <div class="slider-container">
                    <mat-slider thumbLabel min="0.1" max="1" step="0.05" value="0.5" [(ngModel)]='this.prototypeLoaderController.modelConfidence'></mat-slider>
                </div>
            </div>
            
        </div>

    
        <!-- <div class="slider-container">
            <mat-slider></mat-slider>
        </div>
        <div class="slider-container">
            <mat-slider></mat-slider>
        </div> -->

    </div>

    <div class="dialog-footer">

        <button 
            (click)='this.dialogRef.close()'
            class='loader-dialog-button'
            mat-stroked-button 
            color="primary">
            Cancel
        </button>

    </div>


</div>