<div class="component-wrapper">

    <div class="example-metadata-container">
        <h2>Label</h2>
    </div>

    <div class="example-spectrogram-container">
        <div class="spectrogram-image-container">
            <app-spectrogram #spectrogramref
                [snippet]=this.snippet
                dataset="UST"
                (onmouseenterspectrogram)='this.onmouseenterspectrogram.emit($event)'
                (onmouseleavespectrogram)='this.onmouseleavespectrogram.emit($event)'
                (onspectrogramframeclicked)='this.onspectrogramframeclicked.emit($event)'>
            </app-spectrogram>
        </div>
    </div>

</div>