<div class="component-wrapper">

    <div class="chart-container" #chartcontainerref></div>

    <div class="spectrogram-representative-container" #spectrogramrepresentativecontainer>

        <div class="spectrogram-component-container" *ngIf='this.modelSummaryController.snippet'>
            <app-spectrogram [snippet]='this.modelSummaryController.snippet'></app-spectrogram>
        </div>
       
    </div>

    <div class="representatives-container">
        <div 
            *ngFor='let frame of this.modelsummary.representativeFrames' 
            (mouseover)='this.modelSummaryController.representative_mouse_enter($event, frame)'
            (mouseout)='this.modelSummaryController.representative_mouse_out($event, frame)'
            class='representative-frame-vis'>
        </div>
    </div>

</div>