:host{

    width: 100%;
    height: 100%;

    // position: relative;

}

.component-wrapper{

    width: 100%;
    height: 100%;

}

.chart-container{

    width: 100%;
    height: 80%;

}

.representatives-container{

    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.representative-frame-vis{

    width: 10px;
    height: 10px;
    margin: 0 10px 0 10px;

    border-radius: 10px;
    border-color: #999999;
    background-color: gray;
    cursor: pointer;

}

.spectrogram-representative-container{

    width: 300px;
    height: 150px;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
    background-color: gray;
    position: absolute;
}