:host {

    width: 100%;
    height: 100%;

}

.spinner-container{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
    opacity: 50%;

}


.component-wrapper{

    width: 100%;
    height: 100%;

    position: relative;

}

.chart-container{

    width: 100%;
    height: 100%;

}