:host{

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.component-wrapper{

    width: 98%;
    height: 98%;

    display: flex;
    flex-direction: row;

}

.projection-component-container{

    height: 100%;
    width: 20%;

}