<div class="component-wrapper">

    <div class="controls-container">

        <!-- COLOR MENU -->
        <div class="icon-container">
            <mat-icon class='control-icon' [matMenuTriggerFor]="colormenu">palette</mat-icon>
        </div>
        
        <mat-menu #colormenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="prototypeMenu">Prototypes</button>
            <button mat-menu-item [matMenuTriggerFor]="labelsMenu">Labels</button>
            <button mat-menu-item (click)='this.projectionControlsController.select_new_color_scale( "default", "default" )'>Default</button>
        </mat-menu>

        <mat-menu #prototypeMenu="matMenu">
            <button 
                (click)='this.projectionControlsController.select_new_color_scale( "prototype", prototype )'
                mat-menu-item 
                *ngFor='let prototype of this.prototypestate.loadedPrototypes'>
                {{ prototype }}
            </button>
        </mat-menu>

        <mat-menu #labelsMenu="matMenu">
            <button 
                (click)='this.projectionControlsController.select_new_color_scale( "label", label )'
                mat-menu-item 
                *ngFor='let label of this.availablelabels'>
                {{ label }}
            </button>
        </mat-menu>


        <!-- LABEL -->
        <div class="icon-container">
            <mat-icon 
                (click)=this.onlabeliconclicked.emit()
                class='control-icon'>
                    loyalty
            </mat-icon>
        </div>


        <!-- BRUSH -->
        <div class="icon-container" >
            <mat-icon 
                [ngStyle]='{ "color": (this.projection && this.projection.isBrushActive) ? "red" : "black" }'    
                (click)='this.onbrushset.emit()'
                class='control-icon'>
                tab_unselected
            </mat-icon>
        </div>

        <!-- DELETE -->
        <div class="icon-container">
            <mat-icon class='control-icon'>delete</mat-icon>
        </div>

    </div>
    
</div>