<div class="component-wrapper">

    <div class="controls-container">

        <div class="icon-container">
            <mat-icon class='control-icon'>palette</mat-icon>
        </div>

        <div class="icon-container">
            <mat-icon class='control-icon'>loyalty</mat-icon>
        </div>

        <div class="icon-container">
            <mat-icon class='control-icon'>delete</mat-icon>
        </div>

        <div class="icon-container">
            <mat-icon class='control-icon'>tab_unselected</mat-icon>
        </div>
        
    </div>
    
</div>