:host {

    width: 100%;
    height: 100%;
}

.component-wrapper{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

}


.chart-header{

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    opacity: 0.8;


    h2{
        color: white;
        margin: 0 0 0px
    }
}

.chart-container{

    flex: 5;
    border: 2px solid #999999;

}