:host{

    width: 100%;
    height: 100%;

}

.component-wrapper{

    width: 100%;
    height: 100%;
}

.dialog-header {

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;

}

.dialog-body{

    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    .prototype-list-container{

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        .prototype-name-container{

            width: 100%;
            height: 60px;

            // padding-left: 10px;

            // border: 2px solid #d1cfcf;
            // border-radius: 5px;border-style: solid;

            display: flex;
            align-items: center;

            mat-card{
                width: 100%;
                height: 90%;
                box-sizing: border-box;
            }

            mat-card:hover{
                width: 100%;
                height: 90%;
                box-sizing: border-box;
                border: 2px solid #d1cfcf;
                border-radius: 5px;border-style: solid;
                cursor: pointer;
            }
        }

    }


}

.dialog-footer{
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    button{
        margin-left: 5px;
    }
}