<div class="component-wrapper">

    <div class="body">
        <div class="examples-list-container">
            
            <mat-accordion>
                <mat-expansion-panel hideToggle *ngFor='let snippet of this.similarityExampleLoaderController.exampleSnippets'>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        The label goes here
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        This is a summary of the content
                    </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <div class="example-container">
                        <app-snippet-example 
                            #snippetexampleref
                            [snippet]=snippet
                            (onmouseenterspectrogram)='this.similarityExampleLoaderController.mouse_entered_frame( $event )'
                            (onmouseleavespectrogram)='this.similarityExampleLoaderController.mouse_left_frame( $event )'
                            (onspectrogramframeclicked)='this.similarityExampleLoaderController.frame_selected( $event )'>
                        </app-snippet-example>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>

    <div class="footer">

        <button 
            class="loader-dialog-button"
            mat-stroked-button 
            color="primary">
            Cancel
        </button>

        <button 
            class="loader-dialog-button"
            mat-stroked-button 
            color="primary">
            Load
        </button>

    </div>

</div>
