<div class="toolbar-container">

    <mat-toolbar>

        <div class="toolbar-button">
            <button mat-button [matMenuTriggerFor]="loadMenu">Load</button>
            <mat-menu #loadMenu="matMenu">
                <button mat-menu-item (click)='open_dialog("data-loader-dialog")'>
                        Load data...
                </button>  
            </mat-menu>
        </div>

        <div class="toolbar-button">
            <button mat-button [matMenuTriggerFor]="prototypeMenu">Prototypes</button>
            <mat-menu #prototypeMenu="matMenu">
                
                <button mat-menu-item (click)='open_dialog("prototype-creation-dialog")'>
                    Create...
                </button>  
                
                <button mat-menu-item (click)='open_dialog("prototype-selection-dialog")'>
                    Apply...
                </button> 

                <!-- (click)='open_dialog("prototype-selection-dialog")' -->
                <button mat-menu-item >
                    Refine...
                </button>

            </mat-menu>
        </div>

        <!-- <div class="toolbar-button">
            <button mat-button [matMenuTriggerFor]="projectionMenu" [disabled]='!this.dataState.is_daily_data_loaded()' >Projection</button>
            <mat-menu #projectionMenu="matMenu">
                <button mat-menu-item (click)='open_dialog("umap-projection-dialog")'>
                        UMAP
                </button>  
            </mat-menu>
        </div> -->

    </mat-toolbar>

</div>