.timeline-component-container {

    display: flex;
    flex: 2;

}

.projections-component-container {

    display: flex;
    flex: 4;

    position: relative;

}

.media-component-container {

    display: flex;
    flex: 1;

}

.placeholder{
    display: flex;
    flex: 2;
}