.timeline-component-container {

    display: flex;
    flex: 1;

}

.projections-component-container {

    display: flex;
    flex: 1;

}

.media-component-container {

    display: flex;
    flex: 1;

}