.timeline-component-container {

    display: flex;
    flex: 1;

    background-color: red;
}

.projections-component-container {

    display: flex;
    flex: 2;
    position: relative;

}

.media-component-container {

    display: flex;
    flex: 1;
    background-color: red;
}


.placeholder{

    display: flex;
    flex: 1;
    
}